<div class="panel panel-default" data-ng-init="findAll()">
	<div class="panel-heading clearfix">
		<h4 class="panel-title pull-left" >Current Stock</h4>
    
	</div>
	<div class="panel-body">

	<table class="table table-bordered table-hover table-condensed clearfix">
      <tr style="font-weight: bold">
      <td style="width:20%">Color</td>
      <td style="width:15%">Thickness</td>
      <td style="width:15%">Width</td>
      <td style="width:20%">Warehouse</td>
      <td style="width:15%">Roll Size</td>
      <td style="width:15%">Quantity</td>
    </tr>
    <tr ng-repeat="stock in stocks | filter:stockFilter">
      <td>{{ stock.color || 'empty' }}</td>
      <td>{{ stock.thickness || 'empty' }}</td>
      <td>{{ stock.width || 'empty' }}</td>
      <td>{{ stock.warehouse || 'empty' }}</td>
      <td>{{ stock.rollSize || 'empty' }}</td>
      <td>{{ stock.quantity || 'empty' }}</td>
     
    </tr>
  </table>
  </div>
  </div>